.modal{
  z-index: 9999;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.textCenter{
  text-align: center;
}
.m_l5 {
  margin-left: 5rem;
}
.m_r5 {
  margin-right: 5rem;
}
.m_t5 {
  margin-top: 5rem;
}
.m_b5 {
  margin-bottom: 5rem;
}

.m_l10 {
  margin-left: 10rem;
}
.m_r10 {
  margin-right: 10rem;
}
.m_t10 {
  margin-top: 10rem;
}
.m_b10 {
  margin-bottom: 10rem;
}

.m_l15 {
  margin-left: 15rem;
}
.m_r15 {
  margin-right: 15rem;
}
.m_t15 {
  margin-top: 15rem;
}
.m_b15 {
  margin-bottom: 15rem;
}

.textOverflow{
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m_l20 {
  margin-left: 20rem;
}
.m_r20 {
  margin-right: 20rem;
}
.m_t20 {
  margin-top: 20rem;
}
.m_b20 {
  margin-bottom: 20rem;
}

.m_l25 {
  margin-left: 20rem;
}
.m_r25 {
  margin-right: 20rem;
}
.m_t25 {
  margin-top: 20rem;
}
.m_b25 {
  margin-bottom: 20rem;
}

.m_l30 {
  margin-left: 30rem;
}
.m_r30 {
  margin-right: 30rem;
}
.m_t30 {
  margin-top: 30rem;
}
.m_b30 {
  margin-bottom: 30rem;
}

.m_l35 {
  margin-left: 35rem;
}
.m_r35 {
  margin-right: 35rem;
}
.m_t35 {
  margin-top: 35rem;
}
.m_b35 {
  margin-bottom: 35rem;
}

.m_l40 {
  margin-left: 40rem;
}
.m_r40 {
  margin-right: 40rem;
}
.m_t40 {
  margin-top: 40rem;
}
.m_b40 {
  margin-bottom: 40rem;
}




.p_l5 {
  padding-left: 5rem;
}
.p_r5 {
  padding-right: 5rem;
}
.p_t5 {
  padding-top: 5rem;
}
.p_b5 {
  padding-bottom: 5rem;
}

.p_l10 {
  padding-left: 10rem;
}
.p_r10 {
  padding-right: 10rem;
}
.p_t10 {
  padding-top: 10rem;
}
.p_b10 {
  padding-bottom: 10rem;
}

.p_l15 {
  padding-left: 15rem;
}
.p_r15 {
  padding-right: 15rem;
}
.p_t15 {
  padding-top: 15rem;
}
.p_b15 {
  padding-bottom: 15rem;
}


.p_l20 {
  padding-left: 20rem;
}
.p_r20 {
  padding-right: 20rem;
}
.p_t20 {
  padding-top: 20rem;
}
.p_b20 {
  padding-bottom: 20rem;
}

.p_l25 {
  padding-left: 20rem;
}
.p_r25 {
  padding-right: 20rem;
}
.p_t25 {
  padding-top: 20rem;
}
.p_b25 {
  padding-bottom: 20rem;
}

.p_l30 {
  padding-left: 30rem;
}
.p_r30 {
  padding-right: 30rem;
}
.p_t30 {
  padding-top: 30rem;
}
.p_b30 {
  padding-bottom: 30rem;
}

.p_l35 {
  padding-left: 35rem;
}
.p_r35 {
  padding-right: 35rem;
}
.p_t35 {
  padding-top: 35rem;
}
.p_b35 {
  padding-bottom: 35rem;
}

.p_l40 {
  padding-left: 40rem;
}
.p_r40 {
  padding-right: 40rem;
}
.p_t40 {
  padding-top: 40rem;
}
.p_b40 {
  padding-bottom: 40rem;
}
.cursor{
  cursor: pointer;
}



.flexAlign {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexRowReverse {
  display: flex;
  flex-direction: row-reverse;
}
.flexAlignReverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.flexRowStart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flexRowEnd {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
}

.flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexAlignBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.flexBetweenStart {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flexAlignBetweenWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.color666 {
  color: #666;
}
.color888 {
  color: #8888;
}
.colorfff {
  color: #ffffff;
}

.fontw18 {
  font-size: 18rem;
  font-weight: bold;
}
.fontw17 {
  font-size: 17rem;
  font-weight: bold;
}
.fontw16 {
  font-size: 16rem;
  font-weight: bold;
}
.fontw15 {
  font-size: 15rem;
  font-weight: bold;
}
.fontw14 {
  font-size: 14rem;
  font-weight: bold;
}
.fontw24 {
  font-size: 24rem;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}
.font14{
  font-size: 14rem;
}
.font16{
  font-size: 16rem;
}
.font18{
  font-size: 18rem;
}
.font20{
  font-size: 20rem;
}
.font22{
  font-size: 22rem;
}
.font24{
  font-size: 24rem;
}
.font26{
  font-size: 26rem;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.relative{
  position: relative;
}
.nowrap{
  white-space: nowrap;
}
.pointer{
  cursor: pointer;
}
.padding10{
  padding: 10rem;
}
.padding20{
  padding: 20rem;
}
.hidden3{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.padding0{
  padding: 0 !important;
}
.borderNone{
  border: none !important;
}
.fixCenter{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
}
.padding10-0{
  padding: 10rem 0;
}
