.BottomIntroduce{
  position: absolute;
  bottom: 82rem;
  left: 0;
  color: #fff;
  .userName{
    margin-left: 10rem;
    font-size: 16rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }
  .introduce{
    font-size: 14rem;
    width: 345rem;
    margin-left: 10rem;
  }
}